In [2]:
# pip install CTGAN

Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: CTGAN in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (0.10.1)
Requirement already satisfied: tqdm<5,>=4.29 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from CTGAN) (4.66.5)
Requirement already satisfied: rdt>=1.11.0 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from CTGAN) (1.12.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from CTGAN) (1.26.4)
Requirement already satisfied: pandas>=2.1.1 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from CTGAN) (2.2.1)
Requirement already satisfied: torch>=2.2.0 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from CTGAN) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from pandas>=2.1.1->CTGAN) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from pandas>=2.1.1->CTGAN) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from pandas>=2.1.1->CTGAN) (2024.1)
Requirement already satisfied: Faker>=17 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from rdt>=1.11.0->CTGAN) (28.1.0)
Requirement already satisfied: scipy>=1.12.0 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from rdt>=1.11.0->CTGAN) (1.13.0)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from rdt>=1.11.0->CTGAN) (1.4.2)
Requirement already satisfied: filelock in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from torch>=2.2.0->CTGAN) (3.15.4)
Requirement already satisfied: typing-extensions>=4.8.0 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from torch>=2.2.0->CTGAN) (4.12.2)
Requirement already satisfied: sympy in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from torch>=2.2.0->CTGAN) (1.13.2)
Requirement already satisfied: networkx in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from torch>=2.2.0->CTGAN) (3.3)
Requirement already satisfied: jinja2 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from torch>=2.2.0->CTGAN) (3.1.4)
Requirement already satisfied: fsspec in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from torch>=2.2.0->CTGAN) (2024.6.1)
Requirement already satisfied: setuptools in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from torch>=2.2.0->CTGAN) (69.2.0)
Requirement already satisfied: colorama in c:\users\phavour\appdata\roaming\python\python312\site-packages (from tqdm<5,>=4.29->CTGAN) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas>=2.1.1->CTGAN) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn>=1.3.1->rdt>=1.11.0->CTGAN) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn>=1.3.1->rdt>=1.11.0->CTGAN) (3.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from jinja2->torch>=2.2.0->CTGAN) (2.1.5)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\phavour\appdata\local\programs\python\python312\lib\site-packages (from sympy->torch>=2.2.0->CTGAN) (1.3.0)

WARNING: Ignoring invalid distribution ~orch (c:\Users\Phavour\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~orch (c:\Users\Phavour\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~orch (c:\Users\Phavour\AppData\Local\Programs\Python\Python312\Lib\site-packages)

In [1]:
import pandas as pd
import numpy as np

In [2]:
comments_df = pd.read_csv('comments.csv')
post_performance_df = pd.read_csv('post_performance.csv')

In [3]:
comments_df.head()

,id,postId,sender_id,Comment,attachment,type,commentId,date
0,1,undefined,2,Yoo,NaN,comment,NaN,2024-05-14 12:36:08
1,2,20,2,this is an image s3 s3n,NaN,comment,NaN,2024-05-14 12:39:55
2,3,undefined,2,c,NaN,comment,NaN,2024-05-14 12:40:17
3,4,5,2,lie,NaN,comment,NaN,2024-05-14 12:42:27
4,5,undefined,2,"ghgm,",NaN,comment,NaN,2024-05-14 13:45:29

In [4]:
post_performance_df.head()

   id  PID Reaction  UID  not_status                 date
0   1    2     like   17         NaN  2024-05-31 22:14:04
1   2    3     like   17         NaN  2024-05-31 22:14:37
2   3    5     like   17         NaN  2024-05-31 22:26:28
3   4   20     like   17         NaN  2024-05-31 22:26:34
4   6    1     like   17         NaN  2024-05-31 22:33:13

In [5]:
comments_df.info()
print('_--------------------------')
print(post_performance_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          243 non-null    object
 1   postId      243 non-null    object
 2   sender_id   243 non-null    object
 3   Comment     127 non-null    object
 4   attachment  3 non-null      object
 5   type        243 non-null    object
 6   commentId   3 non-null      object
 7   date        243 non-null    object
dtypes: object(8)
memory usage: 15.3+ KB
_--------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          20 non-null     int64
 1   PID         20 non-null     int64
 2   Reaction    20 non-null     object
 3   UID         20 non-null     int64
 4   not_status  0 non-null      float64
 5   date        20 non-null     object
dtypes: float64(1), int64(3), object(2)
memory usage: 1.1+ KB
None

In [6]:
comments_df.isna().sum()

id              0
postId          0
sender_id       0
Comment       116
attachment    240
type            0
commentId     240
date            0
dtype: int64

In [7]:
print(post_performance_df.isna().sum())

id             0
PID            0
Reaction       0
UID            0
not_status    20
date           0
dtype: int64

In [8]:
comments_df=comments_df.drop('attachment',axis=1)
comments_df=comments_df.drop('commentId',axis=1)
post_performance_df=post_performance_df.drop('not_status',axis=1)

In [9]:
comments_df.isna().sum()

id             0
postId         0
sender_id      0
Comment      116
type           0
date           0
dtype: int64

In [10]:
comments_df['Comment'] = comments_df['Comment'].fillna('Unknown')

In [11]:
post_performance_df.isna().sum()

id          0
PID         0
Reaction    0
UID         0
date        0
dtype: int64

In [12]:
comments_df['Comment']

0                                                    Yoo
1                                this is an image s3 s3n
2                                                      c
3                                                    lie
4                                                  ghgm,
                             ...
238    Always lying. you just want to come and sconde...
239                                                   hi
240                                                  try
241                                              Wossup
242                                            dfghhjj,k
Name: Comment, Length: 243, dtype: object

In [13]:
# Identify and print non-numeric user_id values
non_numeric_ids = comments_df[~comments_df['id'].str.isnumeric()]
print("Non-numeric user_ids:\n", non_numeric_ids)

# Remove non-numeric user_id values
comments_df = comments_df[comments_df['id'].str.isnumeric()]

# Convert to integers
comments_df['id'] = comments_df['id'].astype(int)

Non-numeric user_ids:
      id  postId  sender_id  Comment  type  date
60   id  postId  sender_id  Comment  type  date
121  id  postId  sender_id  Comment  type  date
182  id  postId  sender_id  Comment  type  date

In [14]:
# comments_df['id'] = comments_df['id'].astype('int64')
# post_performance_df['id'] = likes_df['id'].astype(int)

merged_df = pd.merge(comments_df, post_performance_df, on='id', how='inner')

In [15]:
merged_df

,id,postId,sender_id,Comment,type,date_x,PID,Reaction,UID,date_y
0,1,undefined,2,Yoo,comment,2024-05-14 12:36:08,2,like,17,2024-05-31 22:14:04
1,2,20,2,this is an image s3 s3n,comment,2024-05-14 12:39:55,3,like,17,2024-05-31 22:14:37
2,3,undefined,2,c,comment,2024-05-14 12:40:17,5,like,17,2024-05-31 22:26:28
3,4,5,2,lie,comment,2024-05-14 12:42:27,20,like,17,2024-05-31 22:26:34
4,6,undefined,2,hjjkk i really like this content,comment,2024-05-14 13:45:44,1,like,17,2024-05-31 22:33:13
...,...,...,...,...,...,...,...,...,...,...
75,31,19,20,Unknown,comment,2024-05-14 14:58:09,19,like,2,2024-06-06 12:58:02
76,36,19,20,Unknown,comment,2024-05-14 14:58:11,3,like,16,2024-07-05 22:32:52
77,37,19,20,Unknown,comment,2024-05-14 14:58:11,4,like,17,2024-07-06 18:22:20
78,38,19,20,Unknown,comment,2024-05-14 14:58:11,4,like,19,2024-07-08 01:14:25
79,39,19,20,Unknown,comment,2024-05-14 14:58:11,2,like,19,2024-07-08 01:14:44

In [16]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         80 non-null     int32
 1   postId     80 non-null     object
 2   sender_id  80 non-null     object
 3   Comment    80 non-null     object
 4   type       80 non-null     object
 5   date_x     80 non-null     object
 6   PID        80 non-null     int64
 7   Reaction   80 non-null     object
 8   UID        80 non-null     int64
 9   date_y     80 non-null     object
dtypes: int32(1), int64(2), object(7)
memory usage: 6.1+ KB

In [17]:
merged_df['UID'].unique()

array([17, 18, 19,  2, 16], dtype=int64)

In [34]:
# categorical_features = ['postId','sender_id','Comment','type','date_x','Reaction','date_y']

# from ctgan import CTGAN

# ctgan = CTGAN(verbose=True)
# ctgan.fit(merged_df, categorical_features, epochs = 200)

OSError: [WinError 126] The specified module could not be found. Error loading "c:\Users\Phavour\AppData\Local\Programs\Python\Python312\Lib\site-packages\torch\lib\fbgemm.dll" or one of its dependencies.

:

In [20]:
samples = ctgan.sample(1000)
samples

In [21]:
samples.info()

In [22]:
dataset = pd.merge(merged_df,samples, on='id', how='inner')
dataset

In [23]:
dataset.drop(['date_x_x','date_y_x','date_x_y','date_y_y'], axis=1, inplace=True)
dataset

In [24]:
# prompt: drop type x,Comments_y and type_y

dataset.drop(['type_x', 'Comment_y', 'type_y'], axis=1, inplace=True)
dataset

In [25]:
# dataset.Reaction_x.unique()

In [26]:
from sklearn.metrics.pairwise import cosine_similarity
from collections import defaultdict

In [27]:
# One-hot encoding for likes
merged_df['Reaction'] = merged_df['liked'] = 1
# user_likes_matrix = dataset.pivot(index='user_id', columns='post_id', values='liked').fillna(0)

In [28]:
merged_df

,id,postId,sender_id,Comment,type,date_x,PID,Reaction,UID,date_y,liked
0,1,undefined,2,Yoo,comment,2024-05-14 12:36:08,2,1,17,2024-05-31 22:14:04,1
1,2,20,2,this is an image s3 s3n,comment,2024-05-14 12:39:55,3,1,17,2024-05-31 22:14:37,1
2,3,undefined,2,c,comment,2024-05-14 12:40:17,5,1,17,2024-05-31 22:26:28,1
3,4,5,2,lie,comment,2024-05-14 12:42:27,20,1,17,2024-05-31 22:26:34,1
4,6,undefined,2,hjjkk i really like this content,comment,2024-05-14 13:45:44,1,1,17,2024-05-31 22:33:13,1
...,...,...,...,...,...,...,...,...,...,...,...
75,31,19,20,Unknown,comment,2024-05-14 14:58:09,19,1,2,2024-06-06 12:58:02,1
76,36,19,20,Unknown,comment,2024-05-14 14:58:11,3,1,16,2024-07-05 22:32:52,1
77,37,19,20,Unknown,comment,2024-05-14 14:58:11,4,1,17,2024-07-06 18:22:20,1
78,38,19,20,Unknown,comment,2024-05-14 14:58:11,4,1,19,2024-07-08 01:14:25,1
79,39,19,20,Unknown,comment,2024-05-14 14:58:11,2,1,19,2024-07-08 01:14:44,1

In [29]:
merged_df.drop(['date_x','date_y','type'], axis=1, inplace=True)
merged_df

,id,postId,sender_id,Comment,PID,Reaction,UID,liked
0,1,undefined,2,Yoo,2,1,17,1
1,2,20,2,this is an image s3 s3n,3,1,17,1
2,3,undefined,2,c,5,1,17,1
3,4,5,2,lie,20,1,17,1
4,6,undefined,2,hjjkk i really like this content,1,1,17,1
...,...,...,...,...,...,...,...,...
75,31,19,20,Unknown,19,1,2,1
76,36,19,20,Unknown,3,1,16,1
77,37,19,20,Unknown,4,1,17,1
78,38,19,20,Unknown,4,1,19,1
79,39,19,20,Unknown,2,1,19,1

In [30]:
def user_user_cf(merged_df, target_user, n_similar_users=5, n_recommendations=10):
    # Create a user-item matrix based on reactions
    user_item_matrix = pd.pivot_table(merged_df, values='Reaction', index='UID', columns='PID', aggfunc='first')
    user_item_matrix = user_item_matrix.fillna(0)  # Fill NaN with 0

    # Calculate user similarity
    user_similarity = cosine_similarity(user_item_matrix)
    user_similarity_df = pd.DataFrame(user_similarity, index=user_item_matrix.index, columns=user_item_matrix.index)

    # Find similar users
    similar_users = user_similarity_df[target_user].sort_values(ascending=False)[1:n_similar_users+1].index

    # Get recommendations
    recommendations = defaultdict(float)
    for user in similar_users:
        user_reactions = merged_df[merged_df['UID'] == user]
        for _, row in user_reactions.iterrows():
            if row['PID'] not in user_item_matrix.loc[target_user]:
                recommendations[row['PID']] += user_similarity_df.loc[target_user, user] * row['Reaction']

    # Sort recommendations
    sorted_recommendations = sorted(recommendations.items(), key=lambda x: x[1], reverse=True)[:n_recommendations]
    return [pid for pid, _ in sorted_recommendations]

In [31]:
def reaction_based_recommendation(merged_df, target_post, n_recommendations=10):
    # Create a post-reaction matrix
    post_reaction_matrix = pd.pivot_table(merged_df, values='Reaction', index='PID', columns='UID', aggfunc='sum')
    post_reaction_matrix = post_reaction_matrix.fillna(0)  # Fill NaN with 0

    # Calculate post similarity
    post_similarity = cosine_similarity(post_reaction_matrix)
    post_similarity_df = pd.DataFrame(post_similarity, index=post_reaction_matrix.index, columns=post_reaction_matrix.index)

    # Get similar posts
    similar_posts = post_similarity_df[target_post].sort_values(ascending=False)[1:n_recommendations+1].index
    return list(similar_posts)

In [32]:
# Hybrid Recommendation System
def hybrid_recommendation(dataset, target_user, target_post, weight_user=0.5, weight_reaction=0.5, n_recommendations=10):
    user_recommendations = user_user_cf(merged_df, target_user, n_recommendations=n_recommendations)
    reaction_recommendations = reaction_based_recommendation(merged_df, target_post, n_recommendations=n_recommendations)

    # Combine recommendations
    hybrid_scores = defaultdict(float)
    for pid in set(user_recommendations + reaction_recommendations):
        if pid in user_recommendations:
            hybrid_scores[pid] += weight_user * (n_recommendations - user_recommendations.index(pid))
        if pid in reaction_recommendations:
            hybrid_scores[pid] += weight_reaction * (n_recommendations - reaction_recommendations.index(pid))

    # Sort and return top recommendations
    sorted_recommendations = sorted(hybrid_scores.items(), key=lambda x: x[1], reverse=True)[:n_recommendations]
    return [pid for pid, _ in sorted_recommendations]

In [33]:
# Example usage
target_user = 19  # Replace with an actual user ID from your data
target_post = 20  # Replace with an actual post ID from your data

recommendations = hybrid_recommendation(merged_df, target_user, target_post)
print(f"Recommendations for user {target_user} based on post {target_post}:")
print(recommendations)

Recommendations for user 19 based on post 20:
[1, 2, 3, 4, 5, 9, 19, 21, 6, 23]